# base settings
APP_NAME=
ENV=
DEBUG=
LOG_LEVEL=

# postgres settings

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=

POSTGRES_URL=

# jwt settings
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=
JWT_ALGORITHM=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# redis settings
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_URL=
REDIS_PASSWORD=

# cors settings
CORS_ORIGINS=

# email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# verification token settings
API_URL=
VERIFICATION_TOKEN_EXPIRE_HOURS=